<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section id="features">
        <div class="feature">
            <h1>Titulo del feature</h1>
            <p>Este es el primer parrafo</p>
            <p>Este es el segundo parrafo</p>
            <a href="https://lenguajejs.com/javascript/fundamentos/funciones/">Ir al curso JS</a>
            <label>Ingrese el primer número</label>
            <input type="number" name="num1" id="num1"/>
        </div>

        <div class="feature-2">
            <h1>Titulo feature 2</h1>
            <p>Este es el primer parrafo del feature 2</p>
            <p>Este es el segundo parrafo de feature 2</p>
        </div>
    </section>

    <script type="text/Javascript" src="js/dom.js"></script>
</body>
</html>