<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retos JavaScript</title>
    <link rel="stylesheet" href="../css/index.css">

</head>
<body>

    <div class="global">

        <!-------header-------->
        <div class="header">
            <div class="logo">
                <center>
                    <a href="../views/Index.html"><img src="../img/logojs.png" class="img1"></a>
                </center>
            </div>
        </div>
<!-------main-------->
        <div class="main">
            <div class="tabla">

                <div class="chat"></div>

                 <div class="publicacion">
                     <div class="contenedor-nombre-cuenta">
                        <h1 class="nombre-cuenta">Numero de reto</h1>
                     </div>
                        <div class="fondo-formularios">
                            <div class="formularios">
                                <h2>Tipos de Triángulo</h2>

  <label for="lado1">Lado 1:</label>
  <input type="number" id="lado1">

  <label for="lado2">Lado 2:</label>
  <input type="number" id="lado2">

  <label for="lado3">Lado 3:</label>
  <input type="number" id="lado3">

  <button onclick="determinarTipoTriangulo()">Determinar</button>
                            </div>
                        </div>     
                 </div>
            </div>    
                

            
            <div class="info">
            
                <p class="Subti">Retos 1 - 3</p>
                    <ol class="lista1">
                        <a href="RetoPalabra.html"><li>
                            Reto 1
                        </li></a>
                        <a href="TablaEventos.html"><li>
                            Tabla Eventos
                        </li></a>
                        <a href="RetoTemperaturas.html"><li>
                            Reto 3
                        </li></a>
                        <a href="LadosTriangulo.html"><li>
                            Reto 4
                        </li></a>
                        <a href="RetoInstructores.html"><li>
                            Reto 5
                        </li></a>
                        <a href="RetoFiguras.html"><li>
                            Reto 6
                        </li></a>
                        <a href="Formularios.html"><li>
                            Reto 7
                        </li></a>
                    </ol>
    
                </div>
            </div>

<!-------footer-------->
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <div class="logo-footer">
                <a href="#">
                   
                </a>
                </div>
            </figure>
        </div>
        <div class="box">
            <h2>Retos JavaScript</h2>
            <p>Miguel Angel Coronado Gomez</p>
            <p>SENA - ADSO</p>
        </div>
        <div class="box">
            <h2>Redes Sociales</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023<b>Miguel Coronado</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>

<script src="js/reto4.js"></script>

</body>
</html>